$color-primary: rgb(255, 96, 96);
$border-primary: 1px solid $color-primary;

@mixin colors {
  color: $color-primary
}
@mixin bgcolors {
  background-color: $color-primary
}
@mixin bordercolors {
  border: $border-primary
}