@use "../../styles/sass/abstracts/variables" as c;
@use "../../styles/sass/abstracts/responsive" as r;

.card-container {
  max-width: 340px;
  min-width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative;
  flex: 1;
  overflow: hidden;
  transition: all 300ms ease;
  &:hover {
    scale: 1.05;
  }
  @include r.breakpoint-mobile {
    max-width: 100%;
    height: 300px;
    margin: 10px 0;
  }
  img {
    @include r.breakpoint-mobile {
      max-width: 100%;
    }
    @include c.colors;
    background-color: c.$color-primary;
    border-radius: 10px;
    height: 100%;
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(transparent, 50%, #00000080);
    color: white;
    &:hover {
      @include c.bgcolors;
      background: linear-gradient(transparent, 80%, c.$color-primary);
    }
    p {
      position: absolute;
      left: 5%;
      bottom: 5%;
      width: 50%;
    }
  }
}