@use "../../styles/sass/abstracts/variables" as c;
@use "../../styles/sass/abstracts/responsive" as r;

.collapse-wrapper {
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
  @include r.breakpoint-mobile {
    width: 100%;
    margin-bottom: 10px;
  }

  .collapse-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    color: white;
    @include c.bgcolors;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 45px;
    transition: 200ms;
    &:hover {
      scale: 1.01;
      @include c.bordercolors;
      cursor: pointer;
      border: 1px solid c.$border-primary;
      box-shadow: 5px 10px 10px c.$color-primary;
      background-color: #fd9e9e;

    }
  }
  .collapse-description {
    width: 100%;
    margin: 0;
    color: #FF6060;
    font-weight: 400;
    padding: 2%;
    background-color: #F6F6F6;
  }
}