@use "../abstracts/responsive" as r;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 2% 5%;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

.App {
  margin: 0 auto;
}