@use "../styles/sass/abstracts/responsive" as r;

.banner-homepage {
  height: 220px;
  background-color: black;
  position: relative;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
  margin: 50px 0;
  @include r.breakpoint-mobile {
    height: 150px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
  figcaption {
    width: 100%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    color: white;
    font-size: 48px;
    @include r.breakpoint-mobile {
      left: 55%;
      text-align: left;
      font-weight: 400;
      font-size: 36px;
    }
  }
}