@use "../../styles/sass/abstracts/variables" as c;

.navigation-primary {
  display: flex;
  gap: 50px;
  li {
    list-style-type: none;
    margin: auto;
    a {
      @include c.colors;
      color: c.$color-primary;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}