@use "../../styles/sass/abstracts/variables" as c;
@use "../../styles/sass/abstracts/responsive" as r;


.navigation-primary {
  display: flex;
  gap: 50px;
  flex-wrap: nowrap;
  li {
    list-style-type: none;
    margin: auto;
    a {
      @include c.colors;
      color: c.$color-primary;
      text-decoration: none;
      @include r.breakpoint-mobile {
        font-size: 12px;
        text-transform: uppercase;
      }
      &:hover {
        text-decoration: underline;
        color: c.$color-primary;
      }
    }
  }
  #accueil,
  #about {
    color: c.$color-primary;
  }
  @include r.breakpoint-mobile {
    gap: 10px;
    padding-inline-start: 10px;
  }
}
