@use "../../styles/sass/abstracts/variables" as c;
@use "../../styles/sass/abstracts/responsive" as r;


.navigation-primary {
  display: flex;
  gap: 50px;
  li {
    list-style-type: none;
    margin: auto;
    a {
      @include c.colors;
      color: c.$color-primary;
      text-decoration: none;
      @include r.breakpoint-mobile {
        font-size: 14px;
        text-transform: uppercase;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}